.iphone-14-pro-max-8-vPB {
    align-items: center;
    background-color: #ec7d91;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding-top: 2.1rem;
    position: relative;
    width: 100%;
  
    .auto-group-mrsx-7Cm {
      align-items: flex-start;
      display: flex;
      flex-shrink: 0;
      margin: 0rem 2rem 3.5rem 2rem;
      width: calc(100% - 4rem);
  
      .vector-uXw {
        cursor: pointer;
        flex-shrink: 0;
        height: 1.7rem;
        margin-right: 3.2rem;
        object-fit: contain;
        vertical-align: top;
        width: 1.1rem;
      }
      .auto-group-ysgq-aty {
        flex-shrink: 0;
        height: 14.5997rem;
        margin: 0.3rem 1.2rem 0rem 0rem;
        position: relative;
        width: 30.7rem;
  
        .my-flights-edw {
          color: #ffffff;
          font-family: Roboto, 'Source Sans Pro';
          font-size: 1.8rem;
          font-weight: 700;
          height: 2.2rem;
          left: 10.7rem;
          line-height: 1.1725;
          position: absolute;
          top: 2.4997rem;
          white-space: nowrap;
          width: 8.5rem;
        }
        .ajajaxd-1-VeZ {
          height: 13.2998rem;
          left: 1.5092rem;
          object-fit: contain;
          position: absolute;
          top: 0;
          vertical-align: top;
          width: 26.9821rem;
        }
        .vector-3-Ro7 {
          height: 0;
          left: 6.95rem;
          object-fit: contain;
          position: absolute;
          top: 12.8997rem;
          vertical-align: top;
          width: 16.4rem;
        }
        .london-9j7 {
          color: #ffffff;
          font-family: Roboto, 'Source Sans Pro';
          font-size: 1.4rem;
          font-weight: 400;
          height: 1.7rem;
          left: 0;
          line-height: 1.1725;
          position: absolute;
          top: 9.8997rem;
          white-space: nowrap;
          width: 4.7rem;
        }
        .ltn-qM3 {
          color: #ffffff;
          font-family: Roboto, 'Source Sans Pro';
          font-size: 2.8rem;
          font-weight: 700;
          height: 3.3rem;
          left: 0;
          line-height: 1.1725;
          position: absolute;
          top: 11.2997rem;
          white-space: nowrap;
          width: 5rem;
        }
        .doha-Z29 {
          color: #ffffff;
          font-family: Roboto, 'Source Sans Pro';
          font-size: 1.4rem;
          font-weight: 400;
          height: 1.7rem;
          left: 26.4rem;
          line-height: 1.1725;
          position: absolute;
          top: 9.8997rem;
          white-space: nowrap;
          width: 3.3rem;
        }
        .doh-TtD {
          color: #ffffff;
          font-family: Roboto, 'Source Sans Pro';
          font-size: 2.8rem;
          font-weight: 700;
          height: 3.3rem;
          left: 24.9rem;
          line-height: 1.1725;
          position: absolute;
          top: 11.2997rem;
          white-space: nowrap;
          width: 5.8rem;
        }
        .vector-ybf {
          height: 1.9rem;
          left: 14.4rem;
          object-fit: contain;
          position: absolute;
          top: 11.9997rem;
          vertical-align: top;
          width: 1.9rem;
        }
      }
      .vector-6wB {
        flex-shrink: 0;
        height: 1.7rem;
        object-fit: contain;
        vertical-align: top;
        width: 2.3rem;
      }
    }
    .auto-group-pmo7-dw7 {
      background-color: #efedf9;
      border-radius: 0 5.4rem 0 0;
      flex-shrink: 0;
      height: 72.1rem;
      position: relative;
      width: 100%;
  
      .rectangle-3-Z45 {
        background-color: #ffffff;
        border-radius: 3rem;
        box-shadow: 0 0.3rem 0.6rem rgba(171, 185, 222, 0.25);
        height: 68.1rem;
        left: 2rem;
        position: absolute;
        top: 2rem;
        width: 38.5rem;
      }
      .rectangle-25-qnH {
        background-color: #ec7d91;
        border-radius: 1rem;
        height: 5.2rem;
        left: 4.7rem;
        position: absolute;
        top: 10.4rem;
        width: 5.2rem;
      }
      .rectangle-26-A3s {
        background-color: #ec7d91;
        border-radius: 1rem;
        height: 5.2rem;
        left: 12.1rem;
        position: absolute;
        top: 10.4rem;
        width: 5.2rem;
      }
      .rectangle-27-tVf {
        background-color: #ec7d91;
        border-radius: 1rem;
        height: 5.2rem;
        left: 24.4rem;
        position: absolute;
        top: 10.4rem;
        width: 5.2rem;
      }
      .rectangle-28-1aH {
        background-color: #ec7d91;
        border-radius: 1rem;
        height: 5.2rem;
        left: 32.1rem;
        position: absolute;
        top: 10.4rem;
        width: 5.2rem;
      }
      .rectangle-29-LcZ {
        background-color: #ec7d91;
        border-radius: 1rem;
        height: 5.2rem;
        left: 4.7rem;
        position: absolute;
        top: 18.8rem;
        width: 5.2rem;
      }
      .rectangle-30-gRX {
        background-color: #ec7d91;
        border-radius: 1rem;
        height: 5.2rem;
        left: 12.1rem;
        position: absolute;
        top: 18.8rem;
        width: 5.2rem;
      }
      .rectangle-31-ca5 {
        background-color: #ec7d91;
        border-radius: 1rem;
        height: 5.2rem;
        left: 24.4rem;
        position: absolute;
        top: 18.8rem;
        width: 5.2rem;
      }
      .rectangle-32-x89 {
        background-color: #ec7d91;
        border-radius: 1rem;
        height: 5.2rem;
        left: 32.1rem;
        position: absolute;
        top: 18.8rem;
        width: 5.2rem;
      }
      .rectangle-33-6EM {
        background-color: #ec7d91;
        border-radius: 1rem;
        height: 5.2rem;
        left: 4.7rem;
        position: absolute;
        top: 27.2rem;
        width: 5.2rem;
      }
      .rectangle-34-qBw {
        background-color: #ec7d91;
        border-radius: 1rem;
        height: 5.2rem;
        left: 12.1rem;
        position: absolute;
        top: 27.2rem;
        width: 5.2rem;
      }
      .rectangle-35-Nhf {
        background-color: #ec7d91;
        border-radius: 1rem;
        height: 5.2rem;
        left: 24.4rem;
        position: absolute;
        top: 27.2rem;
        width: 5.2rem;
      }
      .rectangle-36-6tZ {
        background-color: #ec7d91;
        border-radius: 1rem;
        height: 5.2rem;
        left: 32.1rem;
        position: absolute;
        top: 27.2rem;
        width: 5.2rem;
      }
      .rectangle-37-SSd {
        background-color: #ec7d91;
        border-radius: 1rem;
        height: 5.2rem;
        left: 5.1rem;
        position: absolute;
        top: 35.6rem;
        width: 5.2rem;
      }
      .rectangle-38-a33 {
        background-color: #ec7d91;
        border-radius: 1rem;
        height: 5.2rem;
        left: 12.5rem;
        position: absolute;
        top: 35.6rem;
        width: 5.2rem;
      }
      .rectangle-39-htM {
        background-color: #ec7d91;
        border-radius: 1rem;
        height: 5.2rem;
        left: 24.8rem;
        position: absolute;
        top: 35.6rem;
        width: 5.2rem;
      }
      .rectangle-40-3SR {
        background-color: #ec7d91;
        border-radius: 1rem;
        height: 5.2rem;
        left: 32.5rem;
        position: absolute;
        top: 35.6rem;
        width: 5.2rem;
      }
      .rectangle-41-n97 {
        background-color: #ec7d91;
        border-radius: 1rem;
        height: 5.2rem;
        left: 5.1rem;
        position: absolute;
        top: 44rem;
        width: 5.2rem;
      }
      .rectangle-42-iYZ {
        background-color: #ec7d91;
        border-radius: 1rem;
        height: 5.2rem;
        left: 12.5rem;
        position: absolute;
        top: 44rem;
        width: 5.2rem;
      }
      .rectangle-43-qt5 {
        background-color: #ec7d91;
        border-radius: 1rem;
        height: 5.2rem;
        left: 24.8rem;
        position: absolute;
        top: 44rem;
        width: 5.2rem;
      }
      .rectangle-44-yzH {
        background-color: #ec7d91;
        border-radius: 1rem;
        height: 5.2rem;
        left: 32.5rem;
        position: absolute;
        top: 44rem;
        width: 5.2rem;
      }
      .rectangle-45-KYM {
        background-color: #ec7d91;
        border-radius: 1rem;
        height: 5.2rem;
        left: 5.1rem;
        position: absolute;
        top: 52.4rem;
        width: 5.2rem;
      }
      .rectangle-46-Fgu {
        background-color: #ec7d91;
        border-radius: 1rem;
        height: 5.2rem;
        left: 12.5rem;
        position: absolute;
        top: 52.4rem;
        width: 5.2rem;
      }
      .rectangle-47-BaZ {
        background-color: #ec7d91;
        border-radius: 1rem;
        height: 5.2rem;
        left: 24.8rem;
        position: absolute;
        top: 52.4rem;
        width: 5.2rem;
      }
      .rectangle-48-Kgm {
        background-color: #ec7d91;
        border-radius: 1rem;
        height: 5.2rem;
        left: 32.5rem;
        position: absolute;
        top: 52.4rem;
        width: 5.2rem;
      }
      .rectangle-49-4eM {
        background-color: #ec7d91;
        border-radius: 1rem;
        height: 4.4rem;
        left: 5.3rem;
        position: absolute;
        top: 61.7rem;
        width: 31.9rem;
      }
      .aceptar-o69 {
        color: #f8f8f8;
        font-family: Roboto, 'Source Sans Pro';
        font-size: 2.5rem;
        font-weight: 700;
        height: 3rem;
        left: 16.1rem;
        line-height: 1.1725;
        position: absolute;
        top: 62.4rem;
        white-space: nowrap;
        width: 11rem;
      }
      .asientos-disponibles-7cd {
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        font-size: 2.5rem;
        font-weight: 700;
        height: 3rem;
        left: 8.2rem;
        line-height: 1.1725;
        position: absolute;
        top: 4.3rem;
        white-space: nowrap;
        width: 28.1rem;
      }
    }
  }