.iphone-14-pro-max-5-3v9 {
    background-color: #efedf9;
    height: 93.2rem;
    overflow: hidden;
    position: relative;
    width: 100%;
  
    .vector-C4H {
      height: 0.0793rem;
      left: 17.783rem;
      object-fit: contain;
      position: absolute;
      top: 20.268rem;
      vertical-align: top;
      width: 0.1121rem;
    }
    .vector-Vp5 {
      height: 0.0211rem;
      left: 17.8788rem;
      object-fit: contain;
      position: absolute;
      top: 20.2572rem;
      vertical-align: top;
      width: 0.0574rem;
    }
    .vector-2p1 {
      height: 0.0368rem;
      left: 17.9558rem;
      object-fit: contain;
      position: absolute;
      top: 20.1895rem;
      vertical-align: top;
      width: 0.0376rem;
    }
    .vector-Ncy {
      height: 0.0628rem;
      left: 18.0034rem;
      object-fit: contain;
      position: absolute;
      top: 20.1977rem;
      vertical-align: top;
      width: 0.0666rem;
    }
    .vector-K2R {
      height: 0.0713rem;
      left: 17.9384rem;
      object-fit: contain;
      position: absolute;
      top: 19.9998rem;
      vertical-align: top;
      width: 0.0658rem;
    }
    .vector-f6H {
      height: 0.0828rem;
      left: 17.9014rem;
      object-fit: contain;
      position: absolute;
      top: 19.917rem;
      vertical-align: top;
      width: 0.0776rem;
    }
    .vector-nRo {
      height: 0.0259rem;
      left: 17.8767rem;
      object-fit: contain;
      position: absolute;
      top: 20.0042rem;
      vertical-align: top;
      width: 0.0256rem;
    }
    .vector-iaM {
      height: 0.0308rem;
      left: 17.877rem;
      object-fit: contain;
      position: absolute;
      top: 20.0412rem;
      vertical-align: top;
      width: 0.0249rem;
    }
    .vector-4eD {
      height: 0.051rem;
      left: 18.1786rem;
      object-fit: contain;
      position: absolute;
      top: 19.8364rem;
      vertical-align: top;
      width: 0.0574rem;
    }
    .vector-obo {
      height: 0.0852rem;
      left: 18.3202rem;
      object-fit: contain;
      position: absolute;
      top: 19.6699rem;
      vertical-align: top;
      width: 0.049rem;
    }
    .vector-kG9 {
      height: 0.0535rem;
      left: 17.1736rem;
      object-fit: contain;
      position: absolute;
      top: 22.7104rem;
      vertical-align: top;
      width: 0.0526rem;
    }
    .vector-VDj {
      height: 0.0281rem;
      left: 17.1339rem;
      object-fit: contain;
      position: absolute;
      top: 22.7334rem;
      vertical-align: top;
      width: 0.0176rem;
    }
    .vector-1hs {
      height: 0.0377rem;
      left: 17.0865rem;
      object-fit: contain;
      position: absolute;
      top: 22.6776rem;
      vertical-align: top;
      width: 0.033rem;
    }
    .vector-A4y {
      height: 0.04rem;
      left: 17.2427rem;
      object-fit: contain;
      position: absolute;
      top: 22.7404rem;
      vertical-align: top;
      width: 0.046rem;
    }
    .vector-Vd3 {
      height: 0.0663rem;
      left: 17.352rem;
      object-fit: contain;
      position: absolute;
      top: 22.6947rem;
      vertical-align: top;
      width: 0.0626rem;
    }
    .vector-SYH {
      height: 0.043rem;
      left: 17.3949rem;
      object-fit: contain;
      position: absolute;
      top: 22.6447rem;
      vertical-align: top;
      width: 0.0458rem;
    }
    .vector-PTX {
      height: 0.0299rem;
      left: 17.0776rem;
      object-fit: contain;
      position: absolute;
      top: 22.7634rem;
      vertical-align: top;
      width: 0.0294rem;
    }
    .vector-8g1 {
      height: 0.0339rem;
      left: 17.1501rem;
      object-fit: contain;
      position: absolute;
      top: 22.3423rem;
      vertical-align: top;
      width: 0.0425rem;
    }
    .vector-t9P {
      height: 0.4487rem;
      left: 26.2376rem;
      object-fit: contain;
      position: absolute;
      top: 20.2092rem;
      vertical-align: top;
      width: 0.4439rem;
    }
    .vector-on9 {
      height: 1.5617rem;
      left: 11.6347rem;
      object-fit: contain;
      position: absolute;
      top: 17.9532rem;
      vertical-align: top;
      width: 2.1827rem;
    }
    .vector-MHs {
      height: 0.5113rem;
      left: 8.9531rem;
      object-fit: contain;
      position: absolute;
      top: 17.8433rem;
      vertical-align: top;
      width: 0.802rem;
    }
    .vector-h6q {
      height: 0.7396rem;
      left: 9.4574rem;
      object-fit: contain;
      position: absolute;
      top: 17.9609rem;
      vertical-align: top;
      width: 1.3788rem;
    }
    .vector-Dqs {
      height: 1.2016rem;
      left: 11.5089rem;
      object-fit: contain;
      position: absolute;
      top: 16.4074rem;
      vertical-align: top;
      width: 2.3205rem;
    }
    .vector-Zuj {
      height: 0.5689rem;
      left: 11.1535rem;
      object-fit: contain;
      position: absolute;
      top: 16.7314rem;
      vertical-align: top;
      width: 0.8659rem;
    }
    .vector-uih {
      height: 0.1739rem;
      left: 11.0241rem;
      object-fit: contain;
      position: absolute;
      top: 17.1729rem;
      vertical-align: top;
      width: 0.256rem;
    }
    .vector-3K7 {
      height: 0.0032rem;
      left: 11.1403rem;
      object-fit: contain;
      position: absolute;
      top: 17.3467rem;
      vertical-align: top;
      width: 0.0081rem;
    }
    .vector-yyT {
      height: 0.0723rem;
      left: 11.1742rem;
      object-fit: contain;
      position: absolute;
      top: 17.3389rem;
      vertical-align: top;
      width: 0.238rem;
    }
    .vector-7Zs {
      height: 0.0882rem;
      left: 11.5502rem;
      object-fit: contain;
      position: absolute;
      top: 17.3597rem;
      vertical-align: top;
      width: 0.1281rem;
    }
    .vector-rnM {
      height: 0.136rem;
      left: 11.1376rem;
      object-fit: contain;
      position: absolute;
      top: 17.4664rem;
      vertical-align: top;
      width: 0.2786rem;
    }
    .vector-bzq {
      height: 0.3498rem;
      left: 11.3991rem;
      object-fit: contain;
      position: absolute;
      top: 17.5193rem;
      vertical-align: top;
      width: 1.0489rem;
    }
    .vector-woo {
      height: 0.2695rem;
      left: 10.4682rem;
      object-fit: contain;
      position: absolute;
      top: 17.0825rem;
      vertical-align: top;
      width: 0.5153rem;
    }
    .vector-tj3 {
      height: 0.0451rem;
      left: 10.7097rem;
      object-fit: contain;
      position: absolute;
      top: 17.3237rem;
      vertical-align: top;
      width: 0.1105rem;
    }
    .vector-Enu {
      height: 0.1861rem;
      left: 10.9326rem;
      object-fit: contain;
      position: absolute;
      top: 18.5182rem;
      vertical-align: top;
      width: 0.3208rem;
    }
    .vector-BTF {
      height: 0.4033rem;
      left: 10.694rem;
      object-fit: contain;
      position: absolute;
      top: 17.9167rem;
      vertical-align: top;
      width: 0.4786rem;
    }
    .vector-vfj {
      height: 0.0071rem;
      left: 11.0941rem;
      object-fit: contain;
      position: absolute;
      top: 18.0722rem;
      vertical-align: top;
      width: 0.0048rem;
    }
    .vector-s5B {
      height: 0.0048rem;
      left: 11.0891rem;
      object-fit: contain;
      position: absolute;
      top: 17.6671rem;
      vertical-align: top;
      width: 0.0035rem;
    }
    .vector-D93 {
      height: 0.2874rem;
      left: 10.5466rem;
      object-fit: contain;
      position: absolute;
      top: 17.5061rem;
      vertical-align: top;
      width: 0.5588rem;
    }
    .vector-MW9 {
      height: 0.0436rem;
      left: 11.1197rem;
      object-fit: contain;
      position: absolute;
      top: 17.6834rem;
      vertical-align: top;
      width: 0.0826rem;
    }
    .vector-VMT {
      height: 0.1591rem;
      left: 11.1575rem;
      object-fit: contain;
      position: absolute;
      top: 17.6873rem;
      vertical-align: top;
      width: 0.2366rem;
    }
    .vector-SGh {
      height: 0.036rem;
      left: 11.2029rem;
      object-fit: contain;
      position: absolute;
      top: 17.8299rem;
      vertical-align: top;
      width: 0.0456rem;
    }
    .vector-ynR {
      height: 0.0305rem;
      left: 11.2824rem;
      object-fit: contain;
      position: absolute;
      top: 17.6344rem;
      vertical-align: top;
      width: 0.0464rem;
    }
    .vector-KrH {
      height: 0.3869rem;
      left: 9.5739rem;
      object-fit: contain;
      position: absolute;
      top: 17.4917rem;
      vertical-align: top;
      width: 0.9237rem;
    }
    .vector-GWd {
      height: 0.1073rem;
      left: 9.449rem;
      object-fit: contain;
      position: absolute;
      top: 17.6004rem;
      vertical-align: top;
      width: 0.1417rem;
    }
    .vector-pHF {
      height: 0.2797rem;
      left: 9.1861rem;
      object-fit: contain;
      position: absolute;
      top: 17.3835rem;
      vertical-align: top;
      width: 0.559rem;
    }
    .vector-Ac1 {
      height: 0.0083rem;
      left: 9.3237rem;
      object-fit: contain;
      position: absolute;
      top: 17.6292rem;
      vertical-align: top;
      width: 0.001rem;
    }
    .vector-71T {
      height: 0.038rem;
      left: 9.7894rem;
      object-fit: contain;
      position: absolute;
      top: 17.4888rem;
      vertical-align: top;
      width: 0.1041rem;
    }
    .vector-F7f {
      height: 0.0594rem;
      left: 9.7693rem;
      object-fit: contain;
      position: absolute;
      top: 17.3001rem;
      vertical-align: top;
      width: 0.1109rem;
    }
    .vector-n7b {
      height: 0.1266rem;
      left: 9.8988rem;
      object-fit: contain;
      position: absolute;
      top: 17.2938rem;
      vertical-align: top;
      width: 0.2819rem;
    }
    .vector-vDo {
      height: 0.0902rem;
      left: 9.8947rem;
      object-fit: contain;
      position: absolute;
      top: 17.1837rem;
      vertical-align: top;
      width: 0.3085rem;
    }
    .vector-3pD {
      height: 0.1144rem;
      left: 10.4486rem;
      object-fit: contain;
      position: absolute;
      top: 17.3455rem;
      vertical-align: top;
      width: 0.1344rem;
    }
    .vector-nmo {
      height: 0.0715rem;
      left: 10.5381rem;
      object-fit: contain;
      position: absolute;
      top: 17.7149rem;
      vertical-align: top;
      width: 0.0916rem;
    }
    .vector-Who {
      height: 0.0783rem;
      left: 10.8817rem;
      object-fit: contain;
      position: absolute;
      top: 16.9486rem;
      vertical-align: top;
      width: 0.1169rem;
    }
    .vector-ep1 {
      height: 0.151rem;
      left: 12.3372rem;
      object-fit: contain;
      position: absolute;
      top: 17.9668rem;
      vertical-align: top;
      width: 0.3524rem;
    }
    .vector-nfK {
      height: 0.0932rem;
      left: 13.5682rem;
      object-fit: contain;
      position: absolute;
      top: 20.786rem;
      vertical-align: top;
      width: 0.2084rem;
    }
    .vector-8DP {
      height: 0.0091rem;
      left: 14.2385rem;
      object-fit: contain;
      position: absolute;
      top: 20.6151rem;
      vertical-align: top;
      width: 0.0062rem;
    }
    .vector-rv5 {
      height: 0.4806rem;
      left: 13.9615rem;
      object-fit: contain;
      position: absolute;
      top: 20.6214rem;
      vertical-align: top;
      width: 0.4972rem;
    }
    .vector-1HB {
      height: 0.3352rem;
      left: 11.8556rem;
      object-fit: contain;
      position: absolute;
      top: 19.03rem;
      vertical-align: top;
      width: 0.5247rem;
    }
    .vector-M69 {
      height: 0.2521rem;
      left: 8.7661rem;
      object-fit: contain;
      position: absolute;
      top: 20.7006rem;
      vertical-align: top;
      width: 0.394rem;
    }
    .vector-tLy {
      height: 0.2317rem;
      left: 8.4193rem;
      object-fit: contain;
      position: absolute;
      top: 20.3518rem;
      vertical-align: top;
      width: 0.1542rem;
    }
    .vector-2CH {
      height: 0.1844rem;
      left: 8.3769rem;
      object-fit: contain;
      position: absolute;
      top: 20.1225rem;
      vertical-align: top;
      width: 0.1243rem;
    }
    .vector-Zxu {
      height: 0.1271rem;
      left: 8.1625rem;
      object-fit: contain;
      position: absolute;
      top: 19.9239rem;
      vertical-align: top;
      width: 0.0728rem;
    }
    .vector-VrZ {
      height: 0.1086rem;
      left: 8.2711rem;
      object-fit: contain;
      position: absolute;
      top: 19.9423rem;
      vertical-align: top;
      width: 0.0807rem;
    }
    .vector-qQd {
      height: 0.1343rem;
      left: 8.2342rem;
      object-fit: contain;
      position: absolute;
      top: 20.0173rem;
      vertical-align: top;
      width: 0.0617rem;
    }
    .vector-at1 {
      height: 0.0591rem;
      left: 8.3546rem;
      object-fit: contain;
      position: absolute;
      top: 20.0559rem;
      vertical-align: top;
      width: 0.0633rem;
    }
    .vector-jW1 {
      height: 0.1221rem;
      left: 8.3149rem;
      object-fit: contain;
      position: absolute;
      top: 20.0618rem;
      vertical-align: top;
      width: 0.0358rem;
    }
    .vector-UCh {
      height: 0.0745rem;
      left: 8.6052rem;
      object-fit: contain;
      position: absolute;
      top: 20.3933rem;
      vertical-align: top;
      width: 0.0575rem;
    }
    .vector-RNq {
      height: 0.2786rem;
      left: 12.0651rem;
      object-fit: contain;
      position: absolute;
      top: 23.1241rem;
      vertical-align: top;
      width: 0.7695rem;
    }
    .vector-Zzq {
      height: 0.0439rem;
      left: 12.1688rem;
      object-fit: contain;
      position: absolute;
      top: 23.2246rem;
      vertical-align: top;
      width: 0.0448rem;
    }
    .vector-KUD {
      height: 0.0677rem;
      left: 12.5316rem;
      object-fit: contain;
      position: absolute;
      top: 23.4965rem;
      vertical-align: top;
      width: 0.16rem;
    }
    .vector-ryw {
      height: 0.1933rem;
      left: 12.8238rem;
      object-fit: contain;
      position: absolute;
      top: 23.3667rem;
      vertical-align: top;
      width: 0.4335rem;
    }
    .vector-cCR {
      height: 0.0515rem;
      left: 13.3583rem;
      object-fit: contain;
      position: absolute;
      top: 23.4988rem;
      vertical-align: top;
      width: 0.1242rem;
    }
    .vector-xXB {
      height: 0.089rem;
      left: 12.5312rem;
      object-fit: contain;
      position: absolute;
      top: 22.9589rem;
      vertical-align: top;
      width: 0.0449rem;
    }
    .vector-Jb3 {
      height: 0.0298rem;
      left: 12.5637rem;
      object-fit: contain;
      position: absolute;
      top: 23.053rem;
      vertical-align: top;
      width: 0.0293rem;
    }
    .vector-Sx9 {
      height: 0.0717rem;
      left: 12.587rem;
      object-fit: contain;
      position: absolute;
      top: 22.8387rem;
      vertical-align: top;
      width: 0.0359rem;
    }
    .vector-zyf {
      height: 0.0334rem;
      left: 12.4942rem;
      object-fit: contain;
      position: absolute;
      top: 22.8323rem;
      vertical-align: top;
      width: 0.0624rem;
    }
    .vector-M3X {
      height: 0.0526rem;
      left: 12.8316rem;
      object-fit: contain;
      position: absolute;
      top: 23.1622rem;
      vertical-align: top;
      width: 0.0304rem;
    }
    .vector-VfX {
      height: 0.0683rem;
      left: 6.0137rem;
      object-fit: contain;
      position: absolute;
      top: 20.2703rem;
      vertical-align: top;
      width: 0.132rem;
    }
    .vector-qzH {
      height: 0.1688rem;
      left: 6.7816rem;
      object-fit: contain;
      position: absolute;
      top: 19.9082rem;
      vertical-align: top;
      width: 0.1945rem;
    }
    .vector-ned {
      height: 0.0021rem;
      left: 8.3914rem;
      object-fit: contain;
      position: absolute;
      top: 18.6376rem;
      vertical-align: top;
      width: 0.0058rem;
    }
    .vector-wGd {
      height: 0.0133rem;
      left: 8.7732rem;
      object-fit: contain;
      position: absolute;
      top: 18.3968rem;
      vertical-align: top;
      width: 0.0037rem;
    }
    .vector-HLV {
      height: 0.0025rem;
      left: 12.2937rem;
      object-fit: contain;
      position: absolute;
      top: 18.6238rem;
      vertical-align: top;
      width: 0;
    }
    .vector-dv9 {
      height: 6.4567rem;
      left: 5.8rem;
      object-fit: contain;
      position: absolute;
      top: 17.9105rem;
      vertical-align: top;
      width: 8.4249rem;
    }
    .vector-BRs {
      height: 0.0506rem;
      left: 12.6505rem;
      object-fit: contain;
      position: absolute;
      top: 22.9457rem;
      vertical-align: top;
      width: 0.0482rem;
    }
    .vector-Wj3 {
      height: 0.0514rem;
      left: 12.7283rem;
      object-fit: contain;
      position: absolute;
      top: 23.0092rem;
      vertical-align: top;
      width: 0.0246rem;
    }
    .vector-FwX {
      height: 0.0128rem;
      left: 12.6901rem;
      object-fit: contain;
      position: absolute;
      top: 23.0901rem;
      vertical-align: top;
      width: 0.0203rem;
    }
    .vector-CLy {
      height: 0.0473rem;
      left: 12.7451rem;
      object-fit: contain;
      position: absolute;
      top: 23.0948rem;
      vertical-align: top;
      width: 0.0392rem;
    }
    .vector-9GD {
      height: 0.0291rem;
      left: 12.8702rem;
      object-fit: contain;
      position: absolute;
      top: 23.2822rem;
      vertical-align: top;
      width: 0.0563rem;
    }
    .vector-HdK {
      height: 0.0166rem;
      left: 12.924rem;
      object-fit: contain;
      position: absolute;
      top: 23.185rem;
      vertical-align: top;
      width: 0.0309rem;
    }
    .vector-2au {
      height: 0.0907rem;
      left: 6.6764rem;
      object-fit: contain;
      position: absolute;
      top: 23.2052rem;
      vertical-align: top;
      width: 0.0959rem;
    }
    .vector-NPs {
      height: 0.0413rem;
      left: 6.6337rem;
      object-fit: contain;
      position: absolute;
      top: 23.1385rem;
      vertical-align: top;
      width: 0.0461rem;
    }
    .vector-uub {
      height: 0.0387rem;
      left: 6.586rem;
      object-fit: contain;
      position: absolute;
      top: 23.125rem;
      vertical-align: top;
      width: 0.0357rem;
    }
    .vector-TRK {
      height: 0.0405rem;
      left: 6.5125rem;
      object-fit: contain;
      position: absolute;
      top: 23.081rem;
      vertical-align: top;
      width: 0.0388rem;
    }
    .vector-mgu {
      height: 0.0416rem;
      left: 6.4035rem;
      object-fit: contain;
      position: absolute;
      top: 23.0393rem;
      vertical-align: top;
      width: 0.0335rem;
    }
    .vector-KCd {
      height: 0.035rem;
      left: 6.3572rem;
      object-fit: contain;
      position: absolute;
      top: 23.0555rem;
      vertical-align: top;
      width: 0.0158rem;
    }
    .vector-4R7 {
      height: 0.0767rem;
      left: 5.8332rem;
      object-fit: contain;
      position: absolute;
      top: 19.6746rem;
      vertical-align: top;
      width: 0.1377rem;
    }
    .vector-o7o {
      height: 0.0629rem;
      left: 13.572rem;
      object-fit: contain;
      position: absolute;
      top: 21.0764rem;
      vertical-align: top;
      width: 0.0447rem;
    }
    .vector-YLH {
      height: 0.049rem;
      left: 13.6247rem;
      object-fit: contain;
      position: absolute;
      top: 21.12rem;
      vertical-align: top;
      width: 0.1118rem;
    }
    .vector-5b7 {
      height: 0.0958rem;
      left: 13.7925rem;
      object-fit: contain;
      position: absolute;
      top: 21.0785rem;
      vertical-align: top;
      width: 0.0935rem;
    }
    .vector-p2u {
      height: 0.0638rem;
      left: 13.8516rem;
      object-fit: contain;
      position: absolute;
      top: 21.14rem;
      vertical-align: top;
      width: 0.0655rem;
    }
    .vector-9qs {
      height: 0.1351rem;
      left: 12.6087rem;
      object-fit: contain;
      position: absolute;
      top: 18.7212rem;
      vertical-align: top;
      width: 0.1591rem;
    }
    .vector-h6h {
      height: 0.0734rem;
      left: 12.4487rem;
      object-fit: contain;
      position: absolute;
      top: 18.5807rem;
      vertical-align: top;
      width: 0.0899rem;
    }
    .vector-qTo {
      height: 0.0491rem;
      left: 12.4974rem;
      object-fit: contain;
      position: absolute;
      top: 18.5216rem;
      vertical-align: top;
      width: 0.0611rem;
    }
    .vector-msF {
      height: 0.0406rem;
      left: 12.5918rem;
      object-fit: contain;
      position: absolute;
      top: 18.5708rem;
      vertical-align: top;
      width: 0.0616rem;
    }
    .vector-tgy {
      height: 0.0299rem;
      left: 12.7536rem;
      object-fit: contain;
      position: absolute;
      top: 18.6709rem;
      vertical-align: top;
      width: 0.0206rem;
    }
    .vector-EF3 {
      height: 0.0514rem;
      left: 12.7998rem;
      object-fit: contain;
      position: absolute;
      top: 18.7461rem;
      vertical-align: top;
      width: 0.1038rem;
    }
    .vector-AeV {
      height: 0.0484rem;
      left: 12.3583rem;
      object-fit: contain;
      position: absolute;
      top: 18.5154rem;
      vertical-align: top;
      width: 0.0929rem;
    }
    .vector-uMB {
      height: 0.0704rem;
      left: 11.8698rem;
      object-fit: contain;
      position: absolute;
      top: 18.7191rem;
      vertical-align: top;
      width: 0.0519rem;
    }
    .vector-FR3 {
      height: 0.026rem;
      left: 11.8533rem;
      object-fit: contain;
      position: absolute;
      top: 18.4782rem;
      vertical-align: top;
      width: 0.0692rem;
    }
    .vector-zNd {
      height: 0.0978rem;
      left: 12.1106rem;
      object-fit: contain;
      position: absolute;
      top: 19.3815rem;
      vertical-align: top;
      width: 0.1538rem;
    }
    .vector-vn5 {
      height: 0.1037rem;
      left: 12.3847rem;
      object-fit: contain;
      position: absolute;
      top: 19.4511rem;
      vertical-align: top;
      width: 0.0701rem;
    }
    .vector-rvd {
      height: 0.0492rem;
      left: 12.5159rem;
      object-fit: contain;
      position: absolute;
      top: 19.3187rem;
      vertical-align: top;
      width: 0.0693rem;
    }
    .vector-CUh {
      height: 0.041rem;
      left: 12.5999rem;
      object-fit: contain;
      position: absolute;
      top: 19.2953rem;
      vertical-align: top;
      width: 0.0588rem;
    }
    .vector-jzR {
      height: 3.426rem;
      left: 12.9687rem;
      object-fit: contain;
      position: absolute;
      top: 16.3rem;
      vertical-align: top;
      width: 4.558rem;
    }
    .vector-gem {
      height: 0.1418rem;
      left: 14.3113rem;
      object-fit: contain;
      position: absolute;
      top: 18.4451rem;
      vertical-align: top;
      width: 0.2405rem;
    }
    .vector-q1s {
      height: 0.1442rem;
      left: 14.3863rem;
      object-fit: contain;
      position: absolute;
      top: 18.6568rem;
      vertical-align: top;
      width: 0.214rem;
    }
    .vector-NXb {
      height: 0.0647rem;
      left: 16.6141rem;
      object-fit: contain;
      position: absolute;
      top: 18.0531rem;
      vertical-align: top;
      width: 0.1937rem;
    }
    .vector-7zy {
      height: 0.1086rem;
      left: 16.6051rem;
      object-fit: contain;
      position: absolute;
      top: 18.0919rem;
      vertical-align: top;
      width: 0.1642rem;
    }
    .vector-4vD {
      height: 0.0225rem;
      left: 14.2242rem;
      object-fit: contain;
      position: absolute;
      top: 18.0963rem;
      vertical-align: top;
      width: 0.0701rem;
    }
    .vector-p8h {
      height: 0.0625rem;
      left: 14.2503rem;
      object-fit: contain;
      position: absolute;
      top: 18.1362rem;
      vertical-align: top;
      width: 0.0748rem;
    }
    .vector-MuK {
      height: 0.0408rem;
      left: 14.3902rem;
      object-fit: contain;
      position: absolute;
      top: 18.3046rem;
      vertical-align: top;
      width: 0.036rem;
    }
    .vector-hyB {
      height: 0.0357rem;
      left: 14.4397rem;
      object-fit: contain;
      position: absolute;
      top: 18.291rem;
      vertical-align: top;
      width: 0.049rem;
    }
    .vector-TBf {
      height: 0.0282rem;
      left: 14.4156rem;
      object-fit: contain;
      position: absolute;
      top: 18.2506rem;
      vertical-align: top;
      width: 0.0272rem;
    }
    .vector-zxH {
      height: 0.0376rem;
      left: 14.4768rem;
      object-fit: contain;
      position: absolute;
      top: 18.2805rem;
      vertical-align: top;
      width: 0.0493rem;
    }
    .vector-Yiu {
      height: 0.0268rem;
      left: 14.5258rem;
      object-fit: contain;
      position: absolute;
      top: 18.3454rem;
      vertical-align: top;
      width: 0.0553rem;
    }
    .vector-HwP {
      height: 2.3077rem;
      left: 26.9653rem;
      object-fit: contain;
      position: absolute;
      top: 25.7642rem;
      vertical-align: top;
      width: 3.0677rem;
    }
    .vector-dkM {
      height: 0.8024rem;
      left: 28.2783rem;
      object-fit: contain;
      position: absolute;
      top: 24.9693rem;
      vertical-align: top;
      width: 1.5385rem;
    }
    .vector-aQh {
      height: 0.0633rem;
      left: 27.9434rem;
      object-fit: contain;
      position: absolute;
      top: 25.1641rem;
      vertical-align: top;
      width: 0.1018rem;
    }
    .vector-X53 {
      height: 0.0895rem;
      left: 28.0924rem;
      object-fit: contain;
      position: absolute;
      top: 25.1487rem;
      vertical-align: top;
      width: 0.2278rem;
    }
    .vector-evM {
      height: 0.0632rem;
      left: 28.4445rem;
      object-fit: contain;
      position: absolute;
      top: 25.3348rem;
      vertical-align: top;
      width: 0.053rem;
    }
    .vector-Pd3 {
      height: 0.0725rem;
      left: 28.3336rem;
      object-fit: contain;
      position: absolute;
      top: 25.4709rem;
      vertical-align: top;
      width: 0.0641rem;
    }
    .vector-wPf {
      height: 0.0213rem;
      left: 28.2995rem;
      object-fit: contain;
      position: absolute;
      top: 25.5568rem;
      vertical-align: top;
      width: 0.0443rem;
    }
    .vector-5km {
      height: 0.2142rem;
      left: 28.0466rem;
      object-fit: contain;
      position: absolute;
      top: 24.7881rem;
      vertical-align: top;
      width: 0.1187rem;
    }
    .vector-2AD {
      height: 0.055rem;
      left: 28.1131rem;
      object-fit: contain;
      position: absolute;
      top: 24.7333rem;
      vertical-align: top;
      width: 0.0322rem;
    }
    .vector-Zvq {
      height: 0.0367rem;
      left: 28.0539rem;
      object-fit: contain;
      position: absolute;
      top: 25.0458rem;
      vertical-align: top;
      width: 0.0494rem;
    }
    .vector-vFb {
      height: 0.0371rem;
      left: 28.2577rem;
      object-fit: contain;
      position: absolute;
      top: 24.9332rem;
      vertical-align: top;
      width: 0.0934rem;
    }
    .vector-BhK {
      height: 0.0255rem;
      left: 28.2229rem;
      object-fit: contain;
      position: absolute;
      top: 25.0747rem;
      vertical-align: top;
      width: 0.0618rem;
    }
    .vector-8cZ {
      height: 0.0081rem;
      left: 21.744rem;
      object-fit: contain;
      position: absolute;
      top: 26.3158rem;
      vertical-align: top;
      width: 0.0021rem;
    }
    .vector-GTs {
      height: 1.0608rem;
      left: 21.6846rem;
      object-fit: contain;
      position: absolute;
      top: 25.8652rem;
      vertical-align: top;
      width: 0.5538rem;
    }
    .vector-cXj {
      height: 0.0099rem;
      left: 21.6903rem;
      object-fit: contain;
      position: absolute;
      top: 26.6151rem;
      vertical-align: top;
      width: 0.0031rem;
    }
    .vector-MkD {
      height: 0.0121rem;
      left: 13.0621rem;
      object-fit: contain;
      position: absolute;
      top: 27.1765rem;
      vertical-align: top;
      width: 0.0022rem;
    }
    .vector-WND {
      height: 5.5985rem;
      left: 12.3103rem;
      object-fit: contain;
      position: absolute;
      top: 24.0013rem;
      vertical-align: top;
      width: 3.4953rem;
    }
    .vector-rS5 {
      height: 0.0253rem;
      left: 13.7879rem;
      object-fit: contain;
      position: absolute;
      top: 23.6976rem;
      vertical-align: top;
      width: 0.0206rem;
    }
    .vector-bPf {
      height: 0.0307rem;
      left: 13.8005rem;
      object-fit: contain;
      position: absolute;
      top: 23.76rem;
      vertical-align: top;
      width: 0.0224rem;
    }
    .vector-Y41 {
      height: 0.0361rem;
      left: 13.8236rem;
      object-fit: contain;
      position: absolute;
      top: 23.8175rem;
      vertical-align: top;
      width: 0.0296rem;
    }
    .vector-VE9 {
      height: 0.033rem;
      left: 13.8282rem;
      object-fit: contain;
      position: absolute;
      top: 23.8762rem;
      vertical-align: top;
      width: 0.0239rem;
    }
    .vector-SQH {
      height: 0.0149rem;
      left: 13.8194rem;
      object-fit: contain;
      position: absolute;
      top: 23.9348rem;
      vertical-align: top;
      width: 0.0137rem;
    }
    .vector-PKX {
      height: 0.0258rem;
      left: 13.7786rem;
      object-fit: contain;
      position: absolute;
      top: 24.0146rem;
      vertical-align: top;
      width: 0.0156rem;
    }
    .vector-8Y1 {
      height: 0.0904rem;
      left: 11.535rem;
      object-fit: contain;
      position: absolute;
      top: 24.9422rem;
      vertical-align: top;
      width: 0.069rem;
    }
    .vector-gJd {
      height: 0.0132rem;
      left: 11.608rem;
      object-fit: contain;
      position: absolute;
      top: 24.963rem;
      vertical-align: top;
      width: 0.0076rem;
    }
    .vector-DJZ {
      height: 0.0339rem;
      left: 11.6213rem;
      object-fit: contain;
      position: absolute;
      top: 24.9812rem;
      vertical-align: top;
      width: 0.0316rem;
    }
    .vector-xX3 {
      height: 0.0165rem;
      left: 11.6893rem;
      object-fit: contain;
      position: absolute;
      top: 25.0065rem;
      vertical-align: top;
      width: 0.0232rem;
    }
    .vector-793 {
      height: 0.0165rem;
      left: 13.5369rem;
      object-fit: contain;
      position: absolute;
      top: 23.5917rem;
      vertical-align: top;
      width: 0.0329rem;
    }
    .vector-TCu {
      height: 0.0248rem;
      left: 13.6714rem;
      object-fit: contain;
      position: absolute;
      top: 23.5531rem;
      vertical-align: top;
      width: 0.0181rem;
    }
    .vector-o1s {
      height: 0.0204rem;
      left: 13.6942rem;
      object-fit: contain;
      position: absolute;
      top: 23.616rem;
      vertical-align: top;
      width: 0.0253rem;
    }
    .vector-95j {
      height: 0.0562rem;
      left: 13.7829rem;
      object-fit: contain;
      position: absolute;
      top: 24.1269rem;
      vertical-align: top;
      width: 0.0558rem;
    }
    .vector-grM {
      height: 0.902rem;
      left: 17.9759rem;
      object-fit: contain;
      position: absolute;
      top: 19.8986rem;
      vertical-align: top;
      width: 0.6148rem;
    }
    .vector-E7B {
      height: 0.382rem;
      left: 17.6813rem;
      object-fit: contain;
      position: absolute;
      top: 20.2644rem;
      vertical-align: top;
      width: 0.3549rem;
    }
    .vector-CiD {
      height: 0.3925rem;
      left: 16.6237rem;
      object-fit: contain;
      position: absolute;
      top: 18.9653rem;
      vertical-align: top;
      width: 0.8069rem;
    }
    .vector-kDw {
      height: 0.5921rem;
      left: 19.2621rem;
      object-fit: contain;
      position: absolute;
      top: 16.9765rem;
      vertical-align: top;
      width: 0.8007rem;
    }
    .vector-tb3 {
      height: 0.2429rem;
      left: 19.7805rem;
      object-fit: contain;
      position: absolute;
      top: 16.8928rem;
      vertical-align: top;
      width: 0.7056rem;
    }
    .vector-SMf {
      height: 0.2216rem;
      left: 19.9468rem;
      object-fit: contain;
      position: absolute;
      top: 17.2264rem;
      vertical-align: top;
      width: 0.3623rem;
    }
    .vector-Ba9 {
      height: 0.9457rem;
      left: 22.2949rem;
      object-fit: contain;
      position: absolute;
      top: 17.4917rem;
      vertical-align: top;
      width: 1.3234rem;
    }
    .vector-8kH {
      height: 0.1053rem;
      left: 22.0403rem;
      object-fit: contain;
      position: absolute;
      top: 18.5808rem;
      vertical-align: top;
      width: 0.1771rem;
    }
    .vector-gG1 {
      height: 0.2201rem;
      left: 19.0504rem;
      object-fit: contain;
      position: absolute;
      top: 21.6082rem;
      vertical-align: top;
      width: 0.1286rem;
    }
    .vector-RjP {
      height: 0.1326rem;
      left: 19.0899rem;
      object-fit: contain;
      position: absolute;
      top: 21.4757rem;
      vertical-align: top;
      width: 0.0775rem;
    }
    .vector-mYM {
      height: 0.143rem;
      left: 19.3755rem;
      object-fit: contain;
      position: absolute;
      top: 21.8823rem;
      vertical-align: top;
      width: 0.2292rem;
    }
    .vector-Wkq {
      height: 0.0659rem;
      left: 21.8278rem;
      object-fit: contain;
      position: absolute;
      top: 16.8496rem;
      vertical-align: top;
      width: 0.1799rem;
    }
    .vector-rZo {
      height: 0.0369rem;
      left: 21.9519rem;
      object-fit: contain;
      position: absolute;
      top: 16.9298rem;
      vertical-align: top;
      width: 0.0446rem;
    }
    .vector-QLR {
      height: 0.1508rem;
      left: 22.0096rem;
      object-fit: contain;
      position: absolute;
      top: 16.8348rem;
      vertical-align: top;
      width: 0.3065rem;
    }
    .vector-kQH {
      height: 0.0331rem;
      left: 22.167rem;
      object-fit: contain;
      position: absolute;
      top: 16.9503rem;
      vertical-align: top;
      width: 0.0458rem;
    }
    .vector-tWV {
      height: 0.0414rem;
      left: 22.2172rem;
      object-fit: contain;
      position: absolute;
      top: 16.975rem;
      vertical-align: top;
      width: 0.0825rem;
    }
    .vector-SH7 {
      height: 0.0545rem;
      left: 22.3707rem;
      object-fit: contain;
      position: absolute;
      top: 16.9201rem;
      vertical-align: top;
      width: 0.1042rem;
    }
    .vector-PCM {
      height: 0.028rem;
      left: 22.2162rem;
      object-fit: contain;
      position: absolute;
      top: 16.7922rem;
      vertical-align: top;
      width: 0.0546rem;
    }
    .vector-XpM {
      height: 0.0263rem;
      left: 22.4768rem;
      object-fit: contain;
      position: absolute;
      top: 16.8925rem;
      vertical-align: top;
      width: 0.0405rem;
    }
    .vector-gBT {
      height: 0.0952rem;
      left: 22.4847rem;
      object-fit: contain;
      position: absolute;
      top: 16.7959rem;
      vertical-align: top;
      width: 0.3764rem;
    }
    .vector-cqo {
      height: 0.0319rem;
      left: 22.6rem;
      object-fit: contain;
      position: absolute;
      top: 16.7564rem;
      vertical-align: top;
      width: 0.075rem;
    }
    .vector-mTo {
      height: 0.0815rem;
      left: 22.6747rem;
      object-fit: contain;
      position: absolute;
      top: 16.718rem;
      vertical-align: top;
      width: 0.159rem;
    }
    .vector-7Gm {
      height: 0.0251rem;
      left: 22.7957rem;
      object-fit: contain;
      position: absolute;
      top: 16.6664rem;
      vertical-align: top;
      width: 0.1151rem;
    }
    .vector-f3P {
      height: 0.032rem;
      left: 22.8373rem;
      object-fit: contain;
      position: absolute;
      top: 16.7433rem;
      vertical-align: top;
      width: 0.0613rem;
    }
    .vector-oQV {
      height: 0.0164rem;
      left: 23.0743rem;
      object-fit: contain;
      position: absolute;
      top: 16.7114rem;
      vertical-align: top;
      width: 0.0411rem;
    }
    .vector-kKj {
      height: 0.0317rem;
      left: 23.116rem;
      object-fit: contain;
      position: absolute;
      top: 16.6845rem;
      vertical-align: top;
      width: 0.1125rem;
    }
    .vector-J6M {
      height: 0.0973rem;
      left: 23.1346rem;
      object-fit: contain;
      position: absolute;
      top: 16.78rem;
      vertical-align: top;
      width: 0.2189rem;
    }
    .vector-dPX {
      height: 0.0833rem;
      left: 22.8855rem;
      object-fit: contain;
      position: absolute;
      top: 16.8338rem;
      vertical-align: top;
      width: 0.2186rem;
    }
    .vector-aJm {
      height: 0.0468rem;
      left: 22.961rem;
      object-fit: contain;
      position: absolute;
      top: 16.7873rem;
      vertical-align: top;
      width: 0.099rem;
    }
    .vector-WCR {
      height: 0.0739rem;
      left: 22.7214rem;
      object-fit: contain;
      position: absolute;
      top: 16.906rem;
      vertical-align: top;
      width: 0.1551rem;
    }
    .vector-eZX {
      height: 0.0373rem;
      left: 22.8584rem;
      object-fit: contain;
      position: absolute;
      top: 16.9759rem;
      vertical-align: top;
      width: 0.0698rem;
    }
    .vector-C5F {
      height: 0.0571rem;
      left: 22.6161rem;
      object-fit: contain;
      position: absolute;
      top: 16.9336rem;
      vertical-align: top;
      width: 0.1115rem;
    }
    .vector-8zV {
      height: 0.0025rem;
      left: 24.9494rem;
      object-fit: contain;
      position: absolute;
      top: 17.968rem;
      vertical-align: top;
      width: 0;
    }
    .vector-VKF {
      height: 0.0792rem;
      left: 26.8074rem;
      object-fit: contain;
      position: absolute;
      top: 17.8698rem;
      vertical-align: top;
      width: 0.151rem;
    }
    .vector-End {
      height: 0.2856rem;
      left: 25.2893rem;
      object-fit: contain;
      position: absolute;
      top: 16.7668rem;
      vertical-align: top;
      width: 0.5006rem;
    }
    .vector-b7P {
      height: 0.007rem;
      left: 25.5359rem;
      object-fit: contain;
      position: absolute;
      top: 16.9947rem;
      vertical-align: top;
      width: 0.0056rem;
    }
    .vector-jDb {
      height: 0.009rem;
      left: 25.853rem;
      object-fit: contain;
      position: absolute;
      top: 16.9795rem;
      vertical-align: top;
      width: 0.0097rem;
    }
    .vector-Ugy {
      height: 0.2373rem;
      left: 25.4245rem;
      object-fit: contain;
      position: absolute;
      top: 16.9625rem;
      vertical-align: top;
      width: 0.5236rem;
    }
    .vector-pF3 {
      height: 0.2496rem;
      left: 25.9081rem;
      object-fit: contain;
      position: absolute;
      top: 17.0879rem;
      vertical-align: top;
      width: 0.4588rem;
    }
    .vector-y7w {
      height: 10.3254rem;
      left: 17.1469rem;
      object-fit: contain;
      position: absolute;
      top: 17.3717rem;
      vertical-align: top;
      width: 15.5952rem;
    }
    .vector-Jvu {
      height: 0.872rem;
      left: 25.5882rem;
      object-fit: contain;
      position: absolute;
      top: 24.4984rem;
      vertical-align: top;
      width: 0.8142rem;
    }
    .vector-ejs {
      height: 0.8357rem;
      left: 26.6248rem;
      object-fit: contain;
      position: absolute;
      top: 24.4012rem;
      vertical-align: top;
      width: 0.773rem;
    }
    .vector-PhT {
      height: 0.2338rem;
      left: 28.1712rem;
      object-fit: contain;
      position: absolute;
      top: 22.2654rem;
      vertical-align: top;
      width: 0.1852rem;
    }
    .vector-vBb {
      height: 0.684rem;
      left: 28.2646rem;
      object-fit: contain;
      position: absolute;
      top: 21.6076rem;
      vertical-align: top;
      width: 0.8446rem;
    }
    .vector-Fjf {
      height: 0.1381rem;
      left: 28.3633rem;
      object-fit: contain;
      position: absolute;
      top: 22.2226rem;
      vertical-align: top;
      width: 0.1945rem;
    }
    .vector-b2q {
      height: 0.208rem;
      left: 26.3588rem;
      object-fit: contain;
      position: absolute;
      top: 25.3675rem;
      vertical-align: top;
      width: 0.6819rem;
    }
    .vector-j93 {
      height: 0.5828rem;
      left: 27.3609rem;
      object-fit: contain;
      position: absolute;
      top: 24.7855rem;
      vertical-align: top;
      width: 0.4843rem;
    }
    .vector-UMX {
      height: 0.0613rem;
      left: 27.0568rem;
      object-fit: contain;
      position: absolute;
      top: 25.5373rem;
      vertical-align: top;
      width: 0.0755rem;
    }
    .vector-289 {
      height: 0.0535rem;
      left: 27.1464rem;
      object-fit: contain;
      position: absolute;
      top: 25.5522rem;
      vertical-align: top;
      width: 0.058rem;
    }
    .vector-mLd {
      height: 0.068rem;
      left: 27.203rem;
      object-fit: contain;
      position: absolute;
      top: 25.5614rem;
      vertical-align: top;
      width: 0.0842rem;
    }
    .vector-hzy {
      height: 0.0622rem;
      left: 27.2678rem;
      object-fit: contain;
      position: absolute;
      top: 25.5411rem;
      vertical-align: top;
      width: 0.1116rem;
    }
    .vector-TDT {
      height: 0.0533rem;
      left: 27.4203rem;
      object-fit: contain;
      position: absolute;
      top: 25.5493rem;
      vertical-align: top;
      width: 0.1926rem;
    }
    .vector-ZGV {
      height: 0.0358rem;
      left: 27.6984rem;
      object-fit: contain;
      position: absolute;
      top: 25.5371rem;
      vertical-align: top;
      width: 0.1391rem;
    }
    .vector-JE5 {
      height: 0.0447rem;
      left: 27.6207rem;
      object-fit: contain;
      position: absolute;
      top: 25.5397rem;
      vertical-align: top;
      width: 0.0689rem;
    }
    .vector-qUu {
      height: 0;
      left: 27.8027rem;
      object-fit: contain;
      position: absolute;
      top: 25.6143rem;
      vertical-align: top;
      width: 0.0071rem;
    }
    .vector-Nzd {
      height: 0.1098rem;
      left: 27.7106rem;
      object-fit: contain;
      position: absolute;
      top: 25.611rem;
      vertical-align: top;
      width: 0.131rem;
    }
    .vector-vWM {
      height: 0.083rem;
      left: 27.8131rem;
      object-fit: contain;
      position: absolute;
      top: 25.5499rem;
      vertical-align: top;
      width: 0.1918rem;
    }
    .vector-GaD {
      height: 0.0737rem;
      left: 27.3686rem;
      object-fit: contain;
      position: absolute;
      top: 25.6314rem;
      vertical-align: top;
      width: 0.1447rem;
    }
    .vector-ce5 {
      height: 0.0657rem;
      left: 27.7775rem;
      object-fit: contain;
      position: absolute;
      top: 25.0401rem;
      vertical-align: top;
      width: 0.1343rem;
    }
    .vector-N7T {
      height: 0.0518rem;
      left: 27.6629rem;
      object-fit: contain;
      position: absolute;
      top: 24.9989rem;
      vertical-align: top;
      width: 0.0674rem;
    }
    .vector-uNH {
      height: 0.007rem;
      left: 27.3648rem;
      object-fit: contain;
      position: absolute;
      top: 24.1686rem;
      vertical-align: top;
      width: 0.011rem;
    }
    .vector-EvM {
      height: 0.2275rem;
      left: 27.2404rem;
      object-fit: contain;
      position: absolute;
      top: 24.0611rem;
      vertical-align: top;
      width: 0.1788rem;
    }
    .vector-P2Z {
      height: 0.3904rem;
      left: 27.4333rem;
      object-fit: contain;
      position: absolute;
      top: 23.4972rem;
      vertical-align: top;
      width: 0.2053rem;
    }
    .vector-j6R {
      height: 0.1315rem;
      left: 27.4525rem;
      object-fit: contain;
      position: absolute;
      top: 23.8717rem;
      vertical-align: top;
      width: 0.112rem;
    }
    .vector-4Pb {
      height: 0.0823rem;
      left: 27.5879rem;
      object-fit: contain;
      position: absolute;
      top: 23.8511rem;
      vertical-align: top;
      width: 0.0753rem;
    }
    .vector-QCZ {
      height: 0.1374rem;
      left: 27.628rem;
      object-fit: contain;
      position: absolute;
      top: 23.8397rem;
      vertical-align: top;
      width: 0.1404rem;
    }
    .vector-LM7 {
      height: 0.0402rem;
      left: 27.7496rem;
      object-fit: contain;
      position: absolute;
      top: 23.8555rem;
      vertical-align: top;
      width: 0.0369rem;
    }
    .vector-HGM {
      height: 0.0011rem;
      left: 27.7597rem;
      object-fit: contain;
      position: absolute;
      top: 23.8955rem;
      vertical-align: top;
      width: 0.0086rem;
    }
    .vector-d5K {
      height: 0.1732rem;
      left: 27.5867rem;
      object-fit: contain;
      position: absolute;
      top: 23.9645rem;
      vertical-align: top;
      width: 0.1039rem;
    }
    .vector-ZzZ {
      height: 0.1638rem;
      left: 27.6313rem;
      object-fit: contain;
      position: absolute;
      top: 24.0745rem;
      vertical-align: top;
      width: 0.1198rem;
    }
    .vector-7mB {
      height: 0.0605rem;
      left: 27.7303rem;
      object-fit: contain;
      position: absolute;
      top: 24.1479rem;
      vertical-align: top;
      width: 0.068rem;
    }
    .vector-rCy {
      height: 0.2044rem;
      left: 27.7707rem;
      object-fit: contain;
      position: absolute;
      top: 23.9635rem;
      vertical-align: top;
      width: 0.1052rem;
    }
    .vector-nsK {
      height: 0.0259rem;
      left: 27.584rem;
      object-fit: contain;
      position: absolute;
      top: 23.8978rem;
      vertical-align: top;
      width: 0.0209rem;
    }
    .vector-wER {
      height: 0.0948rem;
      left: 27.6764rem;
      object-fit: contain;
      position: absolute;
      top: 23.9378rem;
      vertical-align: top;
      width: 0.0806rem;
    }
    .vector-H3P {
      height: 0.001rem;
      left: 27.836rem;
      object-fit: contain;
      position: absolute;
      top: 24.5121rem;
      vertical-align: top;
      width: 0.0058rem;
    }
    .vector-Dhj {
      height: 0.3244rem;
      left: 27.5932rem;
      object-fit: contain;
      position: absolute;
      top: 24.1877rem;
      vertical-align: top;
      width: 0.3543rem;
    }
    .vector-Acy {
      height: 0.0372rem;
      left: 27.8653rem;
      object-fit: contain;
      position: absolute;
      top: 24.1321rem;
      vertical-align: top;
      width: 0.0198rem;
    }
    .vector-v6M {
      height: 0.0298rem;
      left: 27.8968rem;
      object-fit: contain;
      position: absolute;
      top: 24.1648rem;
      vertical-align: top;
      width: 0.0247rem;
    }
    .vector-3wf {
      height: 0.0334rem;
      left: 27.5144rem;
      object-fit: contain;
      position: absolute;
      top: 24.4608rem;
      vertical-align: top;
      width: 0.0411rem;
    }
    .vector-Pkd {
      height: 0.0344rem;
      left: 27.5799rem;
      object-fit: contain;
      position: absolute;
      top: 24.4615rem;
      vertical-align: top;
      width: 0.0177rem;
    }
    .vector-wn9 {
      height: 0.0556rem;
      left: 27.9475rem;
      object-fit: contain;
      position: absolute;
      top: 24.5894rem;
      vertical-align: top;
      width: 0.0316rem;
    }
    .vector-thP {
      height: 0.2563rem;
      left: 27.4532rem;
      object-fit: contain;
      position: absolute;
      top: 22.9787rem;
      vertical-align: top;
      width: 0.1387rem;
    }
    .vector-SD7 {
      height: 0.3077rem;
      left: 24.4155rem;
      object-fit: contain;
      position: absolute;
      top: 24.1762rem;
      vertical-align: top;
      width: 0.162rem;
    }
    .vector-aaD {
      height: 0.116rem;
      left: 26.3449rem;
      object-fit: contain;
      position: absolute;
      top: 25.0449rem;
      vertical-align: top;
      width: 0.0932rem;
    }
    .vector-85w {
      height: 0.0539rem;
      left: 26.5188rem;
      object-fit: contain;
      position: absolute;
      top: 25.1169rem;
      vertical-align: top;
      width: 0.0493rem;
    }
    .vector-TP7 {
      height: 0.0401rem;
      left: 27.8871rem;
      object-fit: contain;
      position: absolute;
      top: 25.4944rem;
      vertical-align: top;
      width: 0.0854rem;
    }
    .vector-Q3T {
      height: 0.0356rem;
      left: 27.9211rem;
      object-fit: contain;
      position: absolute;
      top: 22.2845rem;
      vertical-align: top;
      width: 0.0509rem;
    }
    .vector-k7K {
      height: 0.0033rem;
      left: 22.437rem;
      object-fit: contain;
      position: absolute;
      top: 21.2631rem;
      vertical-align: top;
      width: 0.0092rem;
    }
    .vector-h2Z {
      height: 0.0025rem;
      left: 9.7316rem;
      object-fit: contain;
      position: absolute;
      top: 19.4269rem;
      vertical-align: top;
      width: 0.0018rem;
    }
    .rectangle-1-E2V {
      background-color: #ffffff;
      height: 89.5rem;
      left: 2.5rem;
      position: absolute;
      top: 1.6rem;
      width: 38.1rem;
    }
    .rectangle-2-bQm {
      background-color: #ec7d91;
      border-radius: 2rem;
      box-shadow: 0 0.6rem 0.4rem rgba(0, 0, 0, 0.25);
      height: 19.4rem;
      left: 1.1rem;
      position: absolute;
      top: 1.65rem;
      width: 40.9rem;
    }
    .rectangle-3-6MX {
      background-color: #ffffff;
      border: solid 0.1rem #000000;
      border-radius: 2rem;
      box-shadow: 0 0.9rem 0.4rem rgba(0, 0, 0, 0.25);
      box-sizing: border-box;
      height: 84.4rem;
      left: 2.5rem;
      position: absolute;
      top: 6.7rem;
      width: 38.1rem;
    }
    .image-1-BNy {
      height: 15.3rem;
      left: 0;
      object-fit: cover;
      position: absolute;
      top: 65.6rem;
      vertical-align: top;
      width: 33rem;
    }
    .image-3-upm {
      height: 16.2rem;
      left: 20.8rem;
      object-fit: cover;
      position: absolute;
      top: 75.8rem;
      vertical-align: top;
      width: 20.9rem;
    }
    .group-3-F7w {
      align-items: center;
      display: flex;
      flex-direction: column;
      height: 2.2rem;
      left: 36.1rem;
      position: absolute;
      row-gap: 0.5rem;
      top: 8.7rem;
      width: 3rem;
  
      .image-4-YMw {
        flex-shrink: 0;
        height: 0.4rem;
        object-fit: cover;
        vertical-align: top;
        width: 3rem;
      }
      .image-6-gyw {
        flex-shrink: 0;
        height: 0.4rem;
        object-fit: cover;
        vertical-align: top;
        width: 3rem;
      }
      .image-5-33o {
        flex-shrink: 0;
        height: 0.4rem;
        object-fit: cover;
        vertical-align: top;
        width: 3rem;
      }
    }
    .rectangle-6-nGH {
      border: solid 0.2rem #ec7d91;
      border-radius: 1rem;
      box-sizing: border-box;
      height: 4.1rem;
      left: 4.6rem;
      position: absolute;
      top: 38.5rem;
      width: 33.9rem;
    }
    .correo-JkR {
      color: #000000;
      font-family: Roboto, 'Source Sans Pro';
      font-size: 1.8rem;
      font-weight: 700;
      height: 2.2rem;
      left: 4.9rem;
      line-height: 1.1725;
      position: absolute;
      top: 35.9rem;
      white-space: nowrap;
      width: 5.5rem;
    }
    .rectangle-7-nvV {
      border: solid 0.2rem #ec7d91;
      border-radius: 1rem;
      box-sizing: border-box;
      height: 4.1rem;
      left: 4.6rem;
      position: absolute;
      top: 46.8rem;
      width: 33.9rem;
    }
    .rectangle-8-7xm {
      background-color: #ec7d91;
      border: solid 0.2rem #ec7d91;
      border-radius: 1rem;
      box-sizing: border-box;
      cursor: pointer;
      height: 4.1rem;
      left: 4.6rem;
      position: absolute;
      top: 54.9rem;
      width: 33.9rem;
    }
    .contrasea-2pq {
      color: #000000;
      font-family: Roboto, 'Source Sans Pro';
      font-size: 1.8rem;
      font-weight: 700;
      height: 2.2rem;
      left: 4.9rem;
      line-height: 1.1725;
      position: absolute;
      top: 44.2rem;
      white-space: nowrap;
      width: 9.3rem;
    }
    .image-2-jDT {
      background-image: url('/api/try-prod-us-east-2-first-cluster/projects/DrNk5QnuiEKbwnRXEcQGC1/files/image/fe8c41753f1a059c67c9b939cb437fd6797eb54e');
      background-position: -12.6822rem -17.0892rem;
      background-size: 517.068% 964.385%;
      height: 3.4rem;
      left: 3rem;
      position: relative;
      top: 7.9rem;
      width: 4.7rem;
    }
    .image-8-cY9 {
      background-image: url('/api/try-prod-us-east-2-first-cluster/projects/DrNk5QnuiEKbwnRXEcQGC1/files/image/6df63d17f0fe86c243e26e85e303813339f39125');
      background-position: 0 -1.7744rem;
      background-size: 198.643% 220.603%;
      height: 32.1rem;
      left: 4.3rem;
      position: relative;
      top: 6.8rem;
      width: 35.1rem;
    }
    .confirmar-6y7 {
      color: #ffffff;
      font-family: Roboto, 'Source Sans Pro';
      font-size: 1.8rem;
      font-weight: 700;
      height: 2.2rem;
      left: 18.2rem;
      line-height: 1.1725;
      position: absolute;
      top: 55.9rem;
      white-space: nowrap;
      width: 8.2rem;
    }
    .image-9-1qB {
      background-image: url('/api/try-prod-us-east-2-first-cluster/projects/DrNk5QnuiEKbwnRXEcQGC1/files/image/e865c95c644443e77aaab930047c9a841eb023c2');
      background-position: -16.8894rem 0;
      background-size: 234.043% 253.521%;
      height: 11.3rem;
      left: 3.5rem;
      position: relative;
      top: 17.2rem;
      width: 12.6rem;
    }
  }
  