.iphone-14-pro-max-7-ZFu {
    background-color: #ec7d91;
    height: 92.6rem;
    overflow: hidden;
    position: relative;
    width: 100%;
  
    .rectangle-1-wnF {
      background-color: #efedf9;
      border-radius: 0 5.4rem 0 0;
      height: 78.9rem;
      left: 0;
      position: absolute;
      top: 13.7rem;
      width: 42.5rem;
    }
    .vector-GLf {
      height: 1.7rem;
      left: 2rem;
      object-fit: contain;
      position: absolute;
      top: 2.1rem;
      vertical-align: top;
      width: 1.1rem;
    }
    .vector-nZu {
      height: 1.7rem;
      left: 38.2rem;
      object-fit: contain;
      position: absolute;
      top: 2.1rem;
      vertical-align: top;
      width: 2.3rem;
    }
    .my-flights-Wko {
      color: #ffffff;
      font-family: Roboto, 'Source Sans Pro';
      font-size: 1.8rem;
      font-weight: 700;
      height: 2.2rem;
      left: 17rem;
      line-height: 1.1725;
      position: absolute;
      top: 4.9rem;
      white-space: nowrap;
      width: 8.5rem;
    }
    .rectangle-3-akf {
      background-color: #ffffff;
      border-radius: 3rem;
      box-shadow: 0 0.3rem 0.6rem rgba(171, 185, 222, 0.25);
      height: 74.9rem;
      left: 2rem;
      position: absolute;
      top: 15.7rem;
      width: 38.5rem;
    }
    .ajajaxd-1-Ub9 {
      height: 13.2998rem;
      left: 7.8092rem;
      object-fit: contain;
      position: absolute;
      top: 2.4003rem;
      vertical-align: top;
      width: 26.9821rem;
    }
    .group-1-1LB {
      height: 7.9rem;
      left: 6.1rem;
      object-fit: contain;
      position: absolute;
      top: 28rem;
      vertical-align: top;
      width: 33.6rem;
    }
    .component-1-vi3 {
      align-items: center;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      height: 10rem;
      left: 3.7rem;
      position: absolute;
      top: 43.5rem;
      width: 35.2rem;
  
      .auto-group-32eb-RPu {
        align-items: center;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        padding: 0rem 2.3rem 0.5rem 2.2rem;
        width: 100%;
  
        .auto-group-znrk-idu {
          align-items: center;
          display: flex;
          flex-shrink: 0;
          height: 4.7rem;
          width: 100%;
  
          .auto-group-awnk-3gB {
            flex-shrink: 0;
            height: 100%;
            margin-right: 1.95rem;
            position: relative;
            width: 5rem;
  
            .london-BnP {
              color: #8f8f8f;
              font-family: Roboto, 'Source Sans Pro';
              font-size: 1.4rem;
              font-weight: 400;
              height: 1.7rem;
              left: 0;
              line-height: 1.1725;
              position: absolute;
              top: 0;
              white-space: nowrap;
              width: 4.7rem;
            }
            .ltn-EeB {
              color: #ec7d91;
              font-family: Roboto, 'Source Sans Pro';
              font-size: 2.8rem;
              font-weight: 700;
              height: 3.3rem;
              left: 0;
              line-height: 1.1725;
              position: absolute;
              top: 1.4rem;
              white-space: nowrap;
              width: 5rem;
            }
          }
          .auto-group-juuf-KvX {
            flex-shrink: 0;
            height: calc(100% - 2.8rem);
            margin: 2.1rem 1.55rem 0.7rem 0rem;
            position: relative;
            width: 16.4rem;
  
            .vector-1-FJP {
              height: 0;
              left: 0;
              object-fit: contain;
              position: absolute;
              top: 0.9rem;
              vertical-align: top;
              width: 16.4rem;
            }
            .vector-b7M {
              height: 1.9rem;
              left: 7.45rem;
              object-fit: contain;
              position: absolute;
              top: 0;
              vertical-align: top;
              width: 1.9rem;
            }
          }
          .auto-group-esr5-L4w {
            flex-shrink: 0;
            height: 100%;
            position: relative;
            width: 5.8rem;
  
            .doha-HF5 {
              color: #8f8f8f;
              font-family: Roboto, 'Source Sans Pro';
              font-size: 1.4rem;
              font-weight: 400;
              height: 1.7rem;
              left: 1.5rem;
              line-height: 1.1725;
              position: absolute;
              top: 0;
              white-space: nowrap;
              width: 3.3rem;
            }
            .doh-bWf {
              color: #ec7d91;
              font-family: Roboto, 'Source Sans Pro';
              font-size: 2.8rem;
              font-weight: 700;
              height: 3.3rem;
              left: 0;
              line-height: 1.1725;
              position: absolute;
              top: 1.4rem;
              white-space: nowrap;
              width: 5.8rem;
            }
          }
        }
        .auto-group-wmh9-hZh {
          align-items: center;
          display: flex;
          flex-shrink: 0;
          margin: 0rem 0.2rem 0rem 0.3rem;
          width: calc(100% - 0.5rem);
  
          .pm-E3q {
            color: #8f8f8f;
            flex-shrink: 0;
            font-family: Roboto, 'Source Sans Pro';
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 1.1725;
            margin-right: 21.4rem;
            white-space: nowrap;
          }
          .am-M8T {
            color: #8f8f8f;
            flex-shrink: 0;
            font-family: Roboto, 'Source Sans Pro';
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 1.1725;
            white-space: nowrap;
          }
        }
      }
      .auto-group-nhbu-rb1 {
        align-items: center;
        display: flex;
        flex-shrink: 0;
        margin-bottom: 1.8rem;
        width: 100%;
  
        .sun-20-mar-2023-oFM {
          color: #8f8f8f;
          flex-shrink: 0;
          font-family: Roboto, 'Source Sans Pro';
          font-size: 1.2rem;
          font-weight: 400;
          line-height: 1.1725;
          margin-right: 16.4rem;
          white-space: nowrap;
        }
        .sun-20-mar-2023-it7 {
          color: #8f8f8f;
          flex-shrink: 0;
          font-family: Roboto, 'Source Sans Pro';
          font-size: 1.2rem;
          font-weight: 400;
          line-height: 1.1725;
          white-space: nowrap;
        }
      }
      .vector-2-ErT {
        flex-shrink: 0;
        height: 0;
        margin-right: 0.1rem;
        object-fit: contain;
        vertical-align: top;
        width: 30.6rem;
      }
    }
    .component-1-aQX {
      align-items: center;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      height: 10rem;
      left: 4.2rem;
      position: absolute;
      top: 56.5rem;
      width: 35.2rem;
  
      .auto-group-eh9y-HZq {
        align-items: center;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        padding: 0rem 2.3rem 0.5rem 2.2rem;
        width: 100%;
  
        .auto-group-zt7d-21d {
          align-items: center;
          display: flex;
          flex-shrink: 0;
          height: 4.7rem;
          width: 100%;
  
          .auto-group-ab3d-NLP {
            flex-shrink: 0;
            height: 100%;
            margin-right: 1.95rem;
            position: relative;
            width: 5rem;
  
            .london-iQF {
              color: #8f8f8f;
              font-family: Roboto, 'Source Sans Pro';
              font-size: 1.4rem;
              font-weight: 400;
              height: 1.7rem;
              left: 0;
              line-height: 1.1725;
              position: absolute;
              top: 0;
              white-space: nowrap;
              width: 4.7rem;
            }
            .ltn-2Qw {
              color: #ec7d91;
              font-family: Roboto, 'Source Sans Pro';
              font-size: 2.8rem;
              font-weight: 700;
              height: 3.3rem;
              left: 0;
              line-height: 1.1725;
              position: absolute;
              top: 1.4rem;
              white-space: nowrap;
              width: 5rem;
            }
          }
          .auto-group-jjax-jaF {
            flex-shrink: 0;
            height: calc(100% - 2.8rem);
            margin: 2.1rem 1.55rem 0.7rem 0rem;
            position: relative;
            width: 16.4rem;
  
            .vector-1-ex7 {
              height: 0;
              left: 0;
              object-fit: contain;
              position: absolute;
              top: 0.9rem;
              vertical-align: top;
              width: 16.4rem;
            }
            .vector-Peo {
              height: 1.9rem;
              left: 7.45rem;
              object-fit: contain;
              position: absolute;
              top: 0;
              vertical-align: top;
              width: 1.9rem;
            }
          }
          .auto-group-s6r5-LK9 {
            flex-shrink: 0;
            height: 100%;
            position: relative;
            width: 5.8rem;
  
            .doha-6JK {
              color: #8f8f8f;
              font-family: Roboto, 'Source Sans Pro';
              font-size: 1.4rem;
              font-weight: 400;
              height: 1.7rem;
              left: 1.5rem;
              line-height: 1.1725;
              position: absolute;
              top: 0;
              white-space: nowrap;
              width: 3.3rem;
            }
            .doh-Qpo {
              color: #ec7d91;
              font-family: Roboto, 'Source Sans Pro';
              font-size: 2.8rem;
              font-weight: 700;
              height: 3.3rem;
              left: 0;
              line-height: 1.1725;
              position: absolute;
              top: 1.4rem;
              white-space: nowrap;
              width: 5.8rem;
            }
          }
        }
        .auto-group-xbsd-XuR {
          align-items: center;
          display: flex;
          flex-shrink: 0;
          margin: 0rem 0.2rem 0rem 0.3rem;
          width: calc(100% - 0.5rem);
  
          .pm-fVq {
            color: #8f8f8f;
            flex-shrink: 0;
            font-family: Roboto, 'Source Sans Pro';
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 1.1725;
            margin-right: 21.4rem;
            white-space: nowrap;
          }
          .am-oc3 {
            color: #8f8f8f;
            flex-shrink: 0;
            font-family: Roboto, 'Source Sans Pro';
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 1.1725;
            white-space: nowrap;
          }
        }
      }
      .auto-group-ambu-wTM {
        align-items: center;
        display: flex;
        flex-shrink: 0;
        margin-bottom: 1.8rem;
        width: 100%;
  
        .sun-20-mar-2023-Hn7 {
          color: #8f8f8f;
          flex-shrink: 0;
          font-family: Roboto, 'Source Sans Pro';
          font-size: 1.2rem;
          font-weight: 400;
          line-height: 1.1725;
          margin-right: 16.4rem;
          white-space: nowrap;
        }
        .sun-20-mar-2023-dLB {
          color: #8f8f8f;
          flex-shrink: 0;
          font-family: Roboto, 'Source Sans Pro';
          font-size: 1.2rem;
          font-weight: 400;
          line-height: 1.1725;
          white-space: nowrap;
        }
      }
      .vector-2-mhH {
        flex-shrink: 0;
        height: 0;
        margin-right: 0.1rem;
        object-fit: contain;
        vertical-align: top;
        width: 30.6rem;
      }
    }
    .component-1-XAf {
      align-items: center;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      height: 10rem;
      left: 3.6rem;
      position: absolute;
      top: 69.5rem;
      width: 35.2rem;
  
      .auto-group-bajh-qh9 {
        align-items: center;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        padding: 0rem 2.3rem 0.5rem 2.2rem;
        width: 100%;
  
        .auto-group-19ap-mqh {
          align-items: center;
          display: flex;
          flex-shrink: 0;
          height: 4.7rem;
          width: 100%;
  
          .auto-group-s42t-8AT {
            flex-shrink: 0;
            height: 100%;
            margin-right: 1.95rem;
            position: relative;
            width: 5rem;
  
            .london-4Zu {
              color: #8f8f8f;
              font-family: Roboto, 'Source Sans Pro';
              font-size: 1.4rem;
              font-weight: 400;
              height: 1.7rem;
              left: 0;
              line-height: 1.1725;
              position: absolute;
              top: 0;
              white-space: nowrap;
              width: 4.7rem;
            }
            .ltn-ygs {
              color: #ec7d91;
              font-family: Roboto, 'Source Sans Pro';
              font-size: 2.8rem;
              font-weight: 700;
              height: 3.3rem;
              left: 0;
              line-height: 1.1725;
              position: absolute;
              top: 1.4rem;
              white-space: nowrap;
              width: 5rem;
            }
          }
          .auto-group-cbyb-sXM {
            flex-shrink: 0;
            height: calc(100% - 2.8rem);
            margin: 2.1rem 1.55rem 0.7rem 0rem;
            position: relative;
            width: 16.4rem;
  
            .vector-1-zM5 {
              height: 0;
              left: 0;
              object-fit: contain;
              position: absolute;
              top: 0.9rem;
              vertical-align: top;
              width: 16.4rem;
            }
            .vector-LA3 {
              height: 1.9rem;
              left: 7.45rem;
              object-fit: contain;
              position: absolute;
              top: 0;
              vertical-align: top;
              width: 1.9rem;
            }
          }
          .auto-group-xzv1-TkT {
            flex-shrink: 0;
            height: 100%;
            position: relative;
            width: 5.8rem;
  
            .doha-QQo {
              color: #8f8f8f;
              font-family: Roboto, 'Source Sans Pro';
              font-size: 1.4rem;
              font-weight: 400;
              height: 1.7rem;
              left: 1.5rem;
              line-height: 1.1725;
              position: absolute;
              top: 0;
              white-space: nowrap;
              width: 3.3rem;
            }
            .doh-vtw {
              color: #ec7d91;
              font-family: Roboto, 'Source Sans Pro';
              font-size: 2.8rem;
              font-weight: 700;
              height: 3.3rem;
              left: 0;
              line-height: 1.1725;
              position: absolute;
              top: 1.4rem;
              white-space: nowrap;
              width: 5.8rem;
            }
          }
        }
        .auto-group-nsvh-e4F {
          align-items: center;
          display: flex;
          flex-shrink: 0;
          margin: 0rem 0.2rem 0rem 0.3rem;
          width: calc(100% - 0.5rem);
  
          .pm-mef {
            color: #8f8f8f;
            flex-shrink: 0;
            font-family: Roboto, 'Source Sans Pro';
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 1.1725;
            margin-right: 21.4rem;
            white-space: nowrap;
          }
          .am-KAP {
            color: #8f8f8f;
            flex-shrink: 0;
            font-family: Roboto, 'Source Sans Pro';
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 1.1725;
            white-space: nowrap;
          }
        }
      }
      .auto-group-z2nb-Fpj {
        align-items: center;
        display: flex;
        flex-shrink: 0;
        margin-bottom: 1.8rem;
        width: 100%;
  
        .sun-20-mar-2023-c9V {
          color: #8f8f8f;
          flex-shrink: 0;
          font-family: Roboto, 'Source Sans Pro';
          font-size: 1.2rem;
          font-weight: 400;
          line-height: 1.1725;
          margin-right: 16.4rem;
          white-space: nowrap;
        }
        .sun-20-mar-2023-YYw {
          color: #8f8f8f;
          flex-shrink: 0;
          font-family: Roboto, 'Source Sans Pro';
          font-size: 1.2rem;
          font-weight: 400;
          line-height: 1.1725;
          white-space: nowrap;
        }
      }
      .vector-2-gv3 {
        flex-shrink: 0;
        height: 0;
        margin-right: 0.1rem;
        object-fit: contain;
        vertical-align: top;
        width: 30.6rem;
      }
    }
    .group-4-3Eo {
      cursor: pointer;
      height: 5rem;
      left: 33.8rem;
      object-fit: contain;
      position: absolute;
      top: 83.6rem;
      vertical-align: top;
      width: 5rem;
    }
    .image-12-BM1 {
      background-image: url('/api/prod-us-east-2-first-cluster/projects/4QhzEJRqrA4gwRrbAVeB7P/files/image/6df63d17f0fe86c243e26e85e303813339f39125');
      background-position: 0 -0.8734rem;
      background-size: 198.643% 220.603%;
      height: 15.8rem;
      left: 1.9rem;
      position: relative;
      top: 16.2rem;
      width: 17.3rem;
    }
    .viaje-sencillo-TZR {
      color: #ec7d91;
      font-family: Inter, 'Source Sans Pro';
      font-size: 1.8rem;
      font-weight: 700;
      height: 2.2rem;
      left: 25.7rem;
      line-height: 1.2125;
      position: absolute;
      top: 21.9rem;
      white-space: nowrap;
      width: 11.8rem;
    }
  }
  