.iphone-14-pro-max-3-nNd {
    align-items: center;
    background-color: #ec7d91;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding-top: 2.1rem;
    position: relative;
    width: 100%;
  
    .auto-group-x3sf-xwK {
      align-items: flex-start;
      display: flex;
      flex-shrink: 0;
      margin: 0rem 2rem 3.5rem 2rem;
      width: calc(100% - 4rem);
  
      .vector-xiM {
        cursor: pointer;
        flex-shrink: 0;
        height: 1.7rem;
        margin-right: 3.2rem;
        object-fit: contain;
        vertical-align: top;
        width: 1.1rem;
      }
      .auto-group-crnr-52H {
        flex-shrink: 0;
        height: 14.5997rem;
        margin: 0.3rem 1.2rem 0rem 0rem;
        position: relative;
        width: 30.7rem;
  
        .my-flights-mvh {
          color: #ffffff;
          font-family: Roboto, 'Source Sans Pro';
          font-size: 1.8rem;
          font-weight: 700;
          height: 2.2rem;
          left: 10.7rem;
          line-height: 1.1725;
          position: absolute;
          top: 2.4997rem;
          white-space: nowrap;
          width: 8.5rem;
        }
        .ajajaxd-1-Dnh {
          height: 13.2998rem;
          left: 1.5092rem;
          object-fit: contain;
          position: absolute;
          top: 0;
          vertical-align: top;
          width: 26.9821rem;
        }
        .vector-3-wih {
          height: 0;
          left: 6.95rem;
          object-fit: contain;
          position: absolute;
          top: 12.8997rem;
          vertical-align: top;
          width: 16.4rem;
        }
        .london-Uid {
          color: #ffffff;
          font-family: Roboto, 'Source Sans Pro';
          font-size: 1.4rem;
          font-weight: 400;
          height: 1.7rem;
          left: 0;
          line-height: 1.1725;
          position: absolute;
          top: 9.8997rem;
          white-space: nowrap;
          width: 4.7rem;
        }
        .ltn-amf {
          color: #ffffff;
          font-family: Roboto, 'Source Sans Pro';
          font-size: 2.8rem;
          font-weight: 700;
          height: 3.3rem;
          left: 0;
          line-height: 1.1725;
          position: absolute;
          top: 11.2997rem;
          white-space: nowrap;
          width: 5rem;
        }
        .doha-tXT {
          color: #ffffff;
          font-family: Roboto, 'Source Sans Pro';
          font-size: 1.4rem;
          font-weight: 400;
          height: 1.7rem;
          left: 26.4rem;
          line-height: 1.1725;
          position: absolute;
          top: 9.8997rem;
          white-space: nowrap;
          width: 3.3rem;
        }
        .doh-oeR {
          color: #ffffff;
          font-family: Roboto, 'Source Sans Pro';
          font-size: 2.8rem;
          font-weight: 700;
          height: 3.3rem;
          left: 24.9rem;
          line-height: 1.1725;
          position: absolute;
          top: 11.2997rem;
          white-space: nowrap;
          width: 5.8rem;
        }
        .vector-Ksf {
          height: 1.9rem;
          left: 14.4rem;
          object-fit: contain;
          position: absolute;
          top: 11.9997rem;
          vertical-align: top;
          width: 1.9rem;
        }
      }
      .vector-TDB {
        flex-shrink: 0;
        height: 1.7rem;
        object-fit: contain;
        vertical-align: top;
        width: 2.3rem;
      }
    }
    .auto-group-uwk5-zU1 {
      background-color: #efedf9;
      border-radius: 0 5.4rem 0 0;
      flex-shrink: 0;
      height: 72.1rem;
      position: relative;
      width: 100%;
  
      .rectangle-3-u5B {
        background-color: #ffffff;
        border-radius: 3rem;
        box-shadow: 0 0.3rem 0.6rem rgba(171, 185, 222, 0.25);
        height: 68.1rem;
        left: 2rem;
        position: absolute;
        top: 2rem;
        width: 38.5rem;
      }
      .vector-LRP {
        height: 0.1086rem;
        left: 30.7rem;
        object-fit: contain;
        position: absolute;
        top: 11.4rem;
        vertical-align: top;
        width: 0.1642rem;
      }
      .vector-U1o {
        height: 0;
        left: 27.4rem;
        object-fit: contain;
        position: absolute;
        top: 13.8rem;
        vertical-align: top;
        width: 0.2rem;
      }
      .group-2-opm {
        height: 13.4rem;
        left: 20.4rem;
        object-fit: contain;
        position: absolute;
        top: 13.8rem;
        vertical-align: top;
        width: 18.3rem;
      }
      .ellipse-3-kED {
        background-color: rgba(236, 125, 145, 0.349999994);
        border-radius: 0.5rem;
        height: 1rem;
        left: 27rem;
        position: absolute;
        top: 20.8rem;
        width: 1rem;
      }
      .ellipse-2-GCZ {
        background-color: #ec7d91;
        border-radius: 0.2rem;
        height: 0.4rem;
        left: 27.3rem;
        position: absolute;
        top: 21.1rem;
        width: 0.4rem;
      }
      .ellipse-4-zuF {
        background-color: #ec7d91;
        border-radius: 0.15rem;
        height: 0.3rem;
        left: 22.4rem;
        position: absolute;
        top: 18rem;
        width: 0.3rem;
      }
      .vector-3-wJh {
        height: 2.6819rem;
        left: 22.8rem;
        object-fit: contain;
        position: absolute;
        top: 18.0181rem;
        vertical-align: top;
        width: 4.65rem;
      }
      .ticket-price-UZX {
        color: #8f8f8f;
        font-family: Roboto, 'Source Sans Pro';
        font-size: 1.2rem;
        font-weight: 500;
        height: 1.5rem;
        left: 5.9rem;
        line-height: 1.1725;
        position: absolute;
        top: 20.8rem;
        white-space: nowrap;
        width: 6.4rem;
      }
      .pessenger-mYd {
        color: #8f8f8f;
        font-family: Roboto, 'Source Sans Pro';
        font-size: 1.2rem;
        font-weight: 400;
        height: 1.5rem;
        left: 5.9rem;
        line-height: 1.1725;
        position: absolute;
        top: 32.8rem;
        white-space: nowrap;
        width: 6.7rem;
      }
      .angel-tagua-5pD {
        color: #ec7d91;
        font-family: Roboto, 'Source Sans Pro';
        font-size: 1.6rem;
        font-weight: 700;
        height: 1.9rem;
        left: 5.9rem;
        line-height: 1.1725;
        position: absolute;
        top: 35rem;
        white-space: nowrap;
        width: 9rem;
      }
      .seat-zgH {
        color: #8f8f8f;
        font-family: Roboto, 'Source Sans Pro';
        font-size: 1.2rem;
        font-weight: 400;
        height: 1.5rem;
        left: 33.8rem;
        line-height: 1.1725;
        position: absolute;
        top: 32.8rem;
        white-space: nowrap;
        width: 2.9rem;
      }
      .e-gp1 {
        color: #ec7d91;
        font-family: Roboto, 'Source Sans Pro';
        font-size: 1.6rem;
        font-weight: 700;
        height: 1.9rem;
        left: 34.9rem;
        line-height: 1.1725;
        position: absolute;
        top: 35rem;
        white-space: nowrap;
        width: 1.9rem;
      }
      .flight-QV7 {
        color: #8f8f8f;
        font-family: Roboto, 'Source Sans Pro';
        font-size: 1.2rem;
        font-weight: 400;
        height: 1.5rem;
        left: 5.9rem;
        line-height: 1.1725;
        position: absolute;
        top: 41.8rem;
        white-space: nowrap;
        width: 4.1rem;
      }
      .qr-123-7uK {
        color: #ec7d91;
        font-family: Roboto, 'Source Sans Pro';
        font-size: 1.6rem;
        font-weight: 700;
        height: 1.9rem;
        left: 5.9rem;
        line-height: 1.1725;
        position: absolute;
        top: 44rem;
        white-space: nowrap;
        width: 5.3rem;
      }
      .gate-SRo {
        color: #8f8f8f;
        font-family: Roboto, 'Source Sans Pro';
        font-size: 1.2rem;
        font-weight: 400;
        height: 1.5rem;
        left: 33.9rem;
        line-height: 1.1725;
        position: absolute;
        top: 41.8rem;
        white-space: nowrap;
        width: 3rem;
      }
      .item-41-a2D {
        color: #ec7d91;
        font-family: Roboto, 'Source Sans Pro';
        font-size: 1.6rem;
        font-weight: 700;
        height: 1.9rem;
        left: 34.9rem;
        line-height: 1.1725;
        position: absolute;
        top: 44rem;
        white-space: nowrap;
        width: 1.9rem;
      }
      .boarding-6FT {
        color: #8f8f8f;
        font-family: Roboto, 'Source Sans Pro';
        font-size: 1.2rem;
        font-weight: 400;
        height: 1.5rem;
        left: 5.9rem;
        line-height: 1.1725;
        position: absolute;
        top: 50.8rem;
        white-space: nowrap;
        width: 5.9rem;
      }
      .sun-20-mar-2023-cUh {
        color: #ec7d91;
        font-family: Roboto, 'Source Sans Pro';
        font-size: 1.6rem;
        font-weight: 700;
        height: 1.9rem;
        left: 5.9rem;
        line-height: 1.1725;
        position: absolute;
        top: 53rem;
        white-space: nowrap;
        width: 12.8rem;
      }
      .time-XrZ {
        color: #8f8f8f;
        font-family: Roboto, 'Source Sans Pro';
        font-size: 1.2rem;
        font-weight: 400;
        height: 1.5rem;
        left: 34.1rem;
        line-height: 1.1725;
        position: absolute;
        top: 50.8rem;
        white-space: nowrap;
        width: 2.8rem;
      }
      .pm-GZF {
        color: #ec7d91;
        font-family: Roboto, 'Source Sans Pro';
        font-size: 1.6rem;
        font-weight: 700;
        height: 1.9rem;
        left: 30.1rem;
        line-height: 1.1725;
        position: absolute;
        top: 53rem;
        white-space: nowrap;
        width: 6.9rem;
      }
      .business-1Fw {
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        font-size: 1.2rem;
        font-weight: 500;
        height: 1.5rem;
        left: 5.9rem;
        line-height: 1.1725;
        position: absolute;
        top: 26.4rem;
        white-space: nowrap;
        width: 4.9rem;
      }
      .item-200-XEH {
        color: #ec7d91;
        font-family: Roboto, 'Source Sans Pro';
        font-size: 3.4rem;
        font-weight: 700;
        height: 4rem;
        left: 5.9rem;
        line-height: 1.1725;
        position: absolute;
        top: 22.3rem;
        white-space: nowrap;
        width: 7.9rem;
      }
      .vector-4-Ss3 {
        height: 0;
        left: 5.9rem;
        object-fit: contain;
        position: absolute;
        top: 30.4rem;
        vertical-align: top;
        width: 30.7rem;
      }
      .vector-5-PGV {
        height: 0;
        left: 5rem;
        object-fit: contain;
        position: absolute;
        top: 59.8rem;
        vertical-align: top;
        width: 32.5rem;
      }
      .ellipse-5-8zm {
        background-color: #edebf8;
        border-radius: 1.45rem;
        height: 2.9rem;
        left: 0.5rem;
        position: absolute;
        top: 58.3rem;
        width: 2.9rem;
      }
      .ellipse-6-5QD {
        background-color: #edebf8;
        border-radius: 1.45rem;
        height: 2.9rem;
        left: 39rem;
        position: absolute;
        top: 58.3rem;
        width: 2.9rem;
      }
      .barcode-1-1Ym {
        height: 6rem;
        left: 4.8rem;
        object-fit: cover;
        position: absolute;
        top: 62rem;
        vertical-align: top;
        width: 11.4rem;
      }
      .barcode-2-whK {
        height: 6rem;
        left: 15.5rem;
        object-fit: cover;
        position: absolute;
        top: 62rem;
        vertical-align: top;
        width: 11.4rem;
      }
      .barcode-3-tcZ {
        height: 6rem;
        left: 26.2rem;
        object-fit: cover;
        position: absolute;
        top: 62rem;
        vertical-align: top;
        width: 11.4rem;
      }
      .image-10-RMb {
        background-image: url('/api/try-prod-us-east-2-first-cluster/projects/MwjjVF4JDwnaV7iusXeG3B/files/image/6df63d17f0fe86c243e26e85e303813339f39125');
        background-position: 0 -0.8734rem;
        background-size: 198.643% 220.603%;
        height: 15.8rem;
        left: 1.9rem;
        position: relative;
        top: 3rem;
        width: 17.3rem;
      }
    }
  }